@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Light-Grey: #F4F6FA;
    --Dark-Navy: #313E51;
    --Purple: #A729F5;
    --Pure-White: #FFF;
}
body {
    background: var(--Light-Grey, #F4F6FA);
    font-family: 'Rubik', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    margin: 64px auto;
    width: 1160px;
    
}